    <footer>
        <div class="text-center align-center flex justify-center">
            <a href="" class="brand fs-20 margin-0-1">freakonomics radio</a>
            <img src="/images/footerpodcasticon.png" alt="podcast">
        </div>
    </footer>
</body>